.item{
	/* display: block; */
    width: 6rem;
    height: 4rem;
    margin: 1rem
}
.react{
	background: coral;
}
.imba{
	background-color: aquamarine;
}
.svelte{
	background-color: lightblue;
}
#app{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
  	gap: 0
}
h1{
	grid-column: 1 /-1;
}